/*------------------------------------*\
  Components > Pagination
\*------------------------------------*/

.bottompagination span.navigation {
    display: block;
    font-size: 0.93rem;
    text-align: center;
    margin-bottom: 0rem;
    color: #999;
    border-top: 1px solid #ddd;
}



.bottompagination span.navigation i {
    display: inline-block;
}

span.navigation {
    display: inline-block;
    font-size: 0.93rem;
    font-weight: 700;
    text-align: center;
}

.pagination {
    display: block;
}

.ml-1 {
  word-spacing: 5px;
}



.pagination {
    text-align: center;
 }.pagination a, .pagination span {
    padding: 7px 18px;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }
